<h1>Example</h1>

<div class="col-sm-6 col-sm-offset-1">
  <%= form_for @user do |form| %>

    <div class="form-group">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :last_name %>
      <%= form.text_area :last_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_area :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :password %>
      <%= form.text_area :password, class: 'form-control' %>
    </div>

    <%= form.submit 'Create User', class: 'btn btn-primary' %>
  <% end %>
</div>