<h1>Signup!</h1>

<%= form_for @user do |f| %>
  <ul>
    <li>First Name: <%= f.text_field :first_name %></li>
    <li>Last Name: <%= f.text_field :last_name %></li>
    <li>Email: <%= f.text_field :email %></li>
    <li>Password: <%= f.password_field :password_digest %></li>
    <li>Password Confirmation: <%= f.password_field :password_confirmation %></li>
    <li><%= f.submit "Submit" %></li>
  </ul>
<% end %>